@using CorneTest.Models

@{
    ViewBag.Title = "Garages";

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>

    <style>

        .nospin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        .no-spin {
            -moz-appearance: textfield !important;
        }

        /*        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }*/

        .italic-label {
            font-style: italic;
        }

        .Labels {
            font-style: italic;
        }

        input[type='radio'] {
            transform: scale(1.5);
        }

        input[type='checkbox'] {
            transform: scale(1.5);
        }
    </style>
</head>

<body>

    <main class="page hire-me-page" data-target="#modal1" data-toggle="modal">
        <section class="portfolio-block hire-me">
            <div class="container" id="container-form-page">
                <form class="page hire-me-page smart-form-form-page" id="smart-form-form-page" method="post" enctype="multipart/form-data" asp-controller="AdministrativeDetails" asp-action="Sale">
                    <div id="show-form-body-div" class="sellerAllDetails">
                        <input type="hidden" value="@TempData["listingId"]" class="hiddenPost" id="listing-id-hidden" name="listing-id-hidden" />
                        <div class="Garagesheadingdiv">
                            <div class="form-row row-cols-1">
                                <div class="col garages-heading-column" id="garages-heading-column"><label class="col-form-label garages-heading-label" id="garages-heading-label" for="garages-heading-label"><strong>Garages</strong><br></label></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col garages-please-select-all-check-box-column" id="garages-please-select-all-check-box-column">
                                <label id="garages-please-select-all-check-box-label" class="garages-please-select-all-check-box-label" for="garages-please-select-all-check-box-label">Please select all if applicable:</label>
                                <div class="row">
                                    <div class="col-md-1 radio-inline"><input type="checkbox" id="garages-automated-check" name="garages-automated-check" checked="checked" /></div><label for="garages-automated-check" class="col-md-10 control-label">Automated Garages</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row-cols-2">
                            <div class="col garages-number-column" id="garages-number-column"><label class="col-form-label garages-automated-number-label" id="garages-automated-number-label">Number Of Garages</label></div>
                            <div class="col garages-number-input-column" id="garages-number-input-column"><input class="form-control garages-number-input" type="number" id="garages-number-input" value="2"></div>
                        </div>
                        <div class="form-row row-cols-2">
                            <div class="col garages-automated-number-column" id="garages-automated-number-column"><label class="col-form-label garages-automated-number-label" id="garages-automated-number-label">How many Automated?</label></div>
                            <div class="col garages-automated-number-input-column"
                                 id="garages-automated-number-input-column"><input class="form-control garages-automated-number-input" type="number" id="garages-automated-number-input" value="1"></div>
                        </div>
                        <div class="form-row row-cols-2">
                            <div class="col garages-garage-motor-number-label-column" id="garages-garage-motor-number-label-column"><label class="col-form-label garages-garage-motor-number-label" id="garages-garage-motor-number-label" for="garages-garage-motor-number-label">How many Motors?</label></div>
                            <div class="col garages-garage-motor-number-input-column"
                                 id="garages-garage-motor-number-input-column"><input class="form-control garages-garage-motor-number-input" type="number" id="garages-garage-motor-number-input" name="garages-garage-motor-number-input" value="2"></div>
                        </div>
                    </div>

                    <div class="col text-center"><a class="btn btn-primary text-center" role="button" id="next-features-button" style="padding: 6px 50px; color:white;">>></a></div>


                </form>
            </div>
        </section>
    </main>
</body>
</html>
<script src="~/js/jquery.min.js"></script>
<script>
    $('input[type=radio][name=typeProperty]').change(function () {
        var radios = document.getElementsByName('typeProperty');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                $('#property-type-hidden').val(radios[i].value);
            }
        }
    });
    $('input[type=radio][name=listingSource]').change(function () {
        var radios = document.getElementsByName('listingSource');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                $('#listing-source-hidden').val(radios[i].value);
            }
        }
    });
    $('input[type=radio][name=typeFacing]').change(function () {
        var radios = document.getElementsByName('typeFacing');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                $('#property-facing-hidden').val(radios[i].value);
            }
        }
    });

    $("#garages-number-input").change(function () {
        var numberGarages = $("#garages-number-input").val();
        localStorage.setItem("numGarages", numberGarages);
        $("#Listing_Information_LU_Garages_input").val(numberGarages);

    });

    $("#next-features-button").click(function () {
        InsertGaragesInformation();

        window.location.href = "/AdministrativeDetails/Walls";
    });

    function InsertGaragesInformation() {
        var garage = {};

        garage.ListingId = @TempData["listingId"];
        garage.AutomatedGarages = $("#garages-automated-check").is(":checked");
        garage.NumberOfGarages = $("#garages-number-input").val();
        garage.NumberOfGaragesAutomated = $("#garages-automated-number-input").val();
        garage.NumberGarageMotors = $("#garages-garage-motor-number-input").val();

        $.ajax(
        {
            async: false,
            type: "POST",
            url: '@Url.Action("InsertGarageInformation", "AdministrativeDetails")',
                data: {garage:garage},
            success: function (result) {
            },
            error: function (xhr, status, error) {
            }
        });
    }





</script>
