<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="~/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/typicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/css/Flare.css">
</head>

<body>
    @*<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
            <div class="container">
                <a class="navbar-brand logo" href="#"><i class="fa fa-th-list list-nav-bar-icon" id="list-nav-bar-icon"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" id="home-nav-bar-link" href="index.html">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="form-nav-bar-link" href="Administrative%20details.html">Form</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" id="form-nav-bar-link" href="Legal%20Disclaimer-1.html">Legal Disclaimer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="form-nav-bar-link" href="POPI%20disclaimer.html">POPI Act</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <main class="page hire-me-page" data-target="#modal1" data-toggle="modal">
        <section class="portfolio-block-agent hire-me">
            <div class="container">
                <div class="form-row">
                    <div class="col">
                        <div class="card special-skill-item border-0">
                            <div class="card-header legal-disclaimer-icon-justice-weights" id="legal-disclaimer-card-header" style="color: rgb(125,43,48);"><i class="fas fa-balance-scale border-success" id="legal-disclaimer-icon-justice-weights" style="width: 20px;font-size: 60px;color: rgb(96,90,190);"></i></div>
                            <div class="card-body">
                                <h2 class="text-center card-title three-icon-1-card-title-card-title-legal-disclaimer-first-line-of-heading" id="three-icon-1-card-title-card-title-legal-disclaimer-first-line-of-heading" style="font-size: 26px;color: rgb(123,113,245);">Website terms and conditionstemplate:&nbsp;<br></h2>
                                <h2 class="text-center card-title card-title-legal-disclaimer-second-line-of-heading" id="three-icon-1-card-title-legal-disclaimer-second-line-of-heading" style="font-size: 26px;color: rgb(123,113,245);">marketplace for services; seller side<br></h2>
                                <h3 class="text-justify card-title three-icon-1-card-title-Protectionheadng" id="Website-terms-subheading" style="color: rgba(24,23,23,0.5);">
                                    Terms and Conditions applicable to a seller of service using [your name / URL].<br><br>These terms and conditions are the contract&nbsp;between you and [Our name] ("us",&nbsp;"we", etc). By visiting or using Our Website, you agree
                                    to be bound&nbsp;by them.<br><br>[Our name] is a trade name of [company name] ,&nbsp;[company number incorporated in the South Africa], whose [registered office / address] is at [address].<br>
                                </h3>
                            </div>
                            <div role="tablist" id="accordion-1">
                                <div class="card" id="Definitions">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-definitions">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1" style="color: rgb(69,136,250);">Definitions</a></h5>
                                    </div>
                                    <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <div class="row text-dark" id="Content-definition">
                                                <div class="col-5 text-left" id="content-label">
                                                    <p class="text-dark Definitions-label" id="Content-label-text">"Content"<br></p>
                                                </div>
                                                <div class="col" id="definition-content">
                                                    <p class="text-dark" id="definition-content-paragraph">
                                                        means the textual, visual or aural&nbsp;content that is encountered as part of your experience on Our Website. It may&nbsp;include, among other things: text, images, sounds, videos and animations. It&nbsp;includes
                                                        content such as advertising material, and all other product or&nbsp;service related material Posted by you.<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row" id="Content-definition-1">
                                                <div class="col-5 text-left" id="post-label">
                                                    <p class="text-dark Definitions-label" id="Post-label-text">"Post"<br></p>
                                                </div>
                                                <div class="col" id="definition-post">
                                                    <p class="text-dark" id="definition-post-paragraph">means place on or into Our&nbsp;Website any Content or material of any sort by any means.<br></p>
                                                </div>
                                            </div>
                                            <div class="row" id="Content-definition-4">
                                                <div class="col-5 text-left" id="provider-label">
                                                    <p class="text-dark Definitions-label" id="Provider-label-text">"Provider"<br></p>
                                                </div>
                                                <div class="col" id="definition-provider">
                                                    <p class="text-dark" id="definition-provider-text">means you, a person or&nbsp;organisation who has placed details on Our Website of a Provider Service&nbsp;offered for sale or free of charge, through Our Website.<br></p>
                                                </div>
                                            </div>
                                            <div class="row" id="Content-definition-5">
                                                <div class="col-5 text-left" id="provider-service-and-your-service-label">
                                                    <p class="text-dark Definitions-label" id="provider-service-and-your-service-label-text">"Provider Service" and "Your Service"<br></p>
                                                </div>
                                                <div class="col" id="definition-Provider-Service-and-Your-Service">
                                                    <p class="text-dark" id="definition-provider-service-and-your-service-paragraph">mean the service you offer&nbsp;for sale through Our Website.<br></p>
                                                </div>
                                            </div>
                                            <div class="row" id="Content-definition-2">
                                                <div class="col-5 text-left" id="our-service-label">
                                                    <p class="text-dark Definitions-label" id="our-service-label-text">"Our Service"<br></p>
                                                </div>
                                                <div class="col" id="definition-Our-service">
                                                    <p class="text-dark" id="definition-our-service-text">means the service we provide&nbsp;to enable you to sell Provider Services here.<br></p>
                                                </div>
                                            </div>
                                            <div class="row" id="Content-definition-3">
                                                <div class="col-5 text-left" id="our-Website-label">
                                                    <p class="text-dark Definitions-label" id="our-website-label-text">"Our Website"<br></p>
                                                </div>
                                                <div class="col" id="definition-our-website">
                                                    <p class="text-dark" id="definition-our-website-text">means any website of ours,&nbsp;and includes all web pages controlled by us.<br></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Our-contract">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-our-contract">
                                        <h5 id="our-contract" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2" id="Our-Contract" style="color: rgb(69,136,250);">Our Contract</a></h5>
                                    </div>
                                    <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1" id="Our-Contract">
                                        <div class="card-body">
                                            <ol id="Our-contract" start="1">
                                                <li class="text-left text-muted list-item-main" id="our-contract-list-item1" style="color: rgb(126,128,129);">
                                                    The relationship between us is solely that :
                                                    <ol class="text-justify text-dark" start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="our-contract-list-item-1-sub-list-item-1">in consideration of a fee&nbsp;charged by us, we provide for you an Internet market place as an arms length&nbsp;contractor;<br></li>
                                                        <li id="our-contract-list-item-1-sub-list-item-2">we act as your agent solely in&nbsp;the collection of money paid by your customer;<br></li>
                                                        <li id="our-contract-list-item-1-sub-list-item-3">we are not your partners or&nbsp;joint venturers.<br></li>
                                                    </ol>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-contract-list-item-2" style="color: rgb(126,128,129);">If you place a Provider Service&nbsp;for sale on Our Website, you do so subject to these terms.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-contract-list-item-3" style="color: rgb(126,128,129);">When you place a Provider&nbsp;Service on Our Website, you will be bound to provide all the information&nbsp;required by the Electronic&nbsp;Communications and Transactions Act 2002.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="our-contract-list-item-4" style="color: rgb(126,128,129);">We may change this agreement in&nbsp;any way at any time. The version applicable to your contract is the version&nbsp;which was Posted on Our Website at the time that the contract was made.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="our-contract-list-item-5" style="color: rgb(126,128,129);">Although we are not a party to&nbsp;your contract with a buyer introduced to you via Our Website, we shall remove&nbsp;Your Services from offer if a customer or site visitor has a valid complaint&nbsp;against you.&nbsp;<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-contract-list-item-6" style="color: rgb(126,128,129);">Subject to this agreement and&nbsp;to the procedures set out in Our Website, you may enter a Provider Service for&nbsp;sale through Our Website.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Consumer-Protection-Cancellation-And-Exclusions">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-consumer-protection">
                                        <h5 id="consumer-protection-cancellation-and-exclusions" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3" style="color: rgb(69,136,250);">Consumer Protection : Cancellation And Exclusions</a></h5>
                                    </div>
                                    <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1" id="Consumer-Protection-Cancellation-And-Exclusions">
                                        <div class="card-body">
                                            <ol id="Consumer-Protection-Cancellation-And-Exclusions" start="1">
                                                <li class="text-left text-muted list-item-main" id="consumer-protection-cancellation-and-exclusions-list-item1" style="color: rgb(126,128,129);">
                                                    You authorise us to take any&nbsp;action that may reasonably be required from time to time, to protect your&nbsp;interests and ours in connection with a beach or possible breach of the Electronic Communications
                                                    and Transactions Act&nbsp;2002 (“the Act”).<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="consumer-protection-cancellation-and-exclusions-list-item-2" style="color: rgb(126,128,129);">
                                                    Because we are not your agents&nbsp;except to market Your Service and take payment, all your obligations under the Act&nbsp;&nbsp;must be fulfilled by you. That means the&nbsp;information you provide to us by entry
                                                    or upload into Our Website must be&nbsp;clear, sufficient and complete, to comply with the Act.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="consumer-protection-cancellation-and-exclusions-list-item-3"
                                                    style="color: rgb(126,128,129);">On Our Website, we will provide&nbsp;a route for a customer to allow a customer to deal directly with you. That will&nbsp;include options relating to supply and cancellation of his order.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="consumer-protection-cancellation-and-exclusions-list-item-4" style="color: rgb(126,128,129);">
                                                    We will also provide regulatory&nbsp;information relating to commencement and cancellation. We expect you to comply&nbsp;with those terms unless Your Services, or your business model, require&nbsp;different terms.
                                                    The terms on Our Website will be communicated only as&nbsp;information to the buyer and not as contract terms.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="consumer-protection-cancellation-and-exclusions-list-item-5"
                                                    style="color: rgb(126,128,129);">
                                                    Because every reference to Provider Service of yours, made by you or by us, may be treated by a consumer as contractual, you agree:<br>
                                                    <ol class="text-justify text-dark list-item-main" id="Consumer-Protection-Cancellation-And-Exclusions-sub-list"
                                                        start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="consumer-protection-cancellation-and-exclusions-sub-list-1" class="list-item-main">in consideration of a fee&nbsp;charged by us, we provide for you an Internet market place as an arms length&nbsp;contractor;<br></li>
                                                        <li id="consumer-protection-cancellation-and-exclusions-sub-list-2">we act as your agent solely in&nbsp;the collection of money paid by your customer;<br></li>
                                                        <li id="consumer-protection-cancellation-and-exclusions-sub-list-1">we are not your partners or&nbsp;joint venturers.<br></li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Your-Provider-Service-Placement">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-your-provider-service-placement">
                                        <h5 id="your-provider-service-placement" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="#accordion-1 .item-4" style="color: rgb(69,136,250);">Your Provider Service Placement</a></h5>
                                    </div>
                                    <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                                        <div class="card-body">
                                            <p class="card-text text-dark" id="Consumer-Protection-Cancellation-And-Exclusions-main-text-1">You agree :</p>
                                            <ol id="Consumer-Protection-Cancellation-And-Exclusions-2" start="1">
                                                <li class="text-left text-muted list-item-main" id="your-provider-service-placement-list-item-1" style="color: rgb(126,128,129);">
                                                    not knowingly to place any&nbsp;Provider Service for sale which is not of merchantable quality or which&nbsp;requires for its setup or use a level of technical expertise which is not fully&nbsp;explained to a customer
                                                    before purchase.&nbsp;<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="your-provider-service-placement-list-item-2" style="color: rgb(126,128,129);">to remove immediately from sale&nbsp;on Our Website any Provider Service which for any reason, you are unable to&nbsp;supply.&nbsp;<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-provider-service-placement-list-item-3"
                                                    style="color: rgb(126,128,129);">not to re-place any Provider&nbsp;Service we remove from offer for sale.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Complaints-About-Provider-Services">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-complaints-about-provider-services">
                                        <h5 id="complaints-about-provider-services" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-5" href="#accordion-1 .item-5" style="color: rgb(69,136,250);">Complaints About Provider Services</a></h5>
                                    </div>
                                    <div class="collapse item-5" role="tabpanel" data-parent="#accordion-1" id="Complaints-About-Provider-Services">
                                        <div class="card-body">
                                            <p class="card-text text-dark" id="complaints-about-provider-services-main-text-2">You agree that you will at all times :</p>
                                            <ol id="Complaints-About-Provider-Services-list-1" start="1">
                                                <li class="text-left text-muted list-item-main" id="complaints-about-provider-services-list-item-6" style="color: rgb(126,128,129);">reply promptly and in any event&nbsp;within [48 hours] to any customer message or&nbsp;other correspondence;<br></li>
                                                <li class="text-left text-muted list-item-main" id="complaints-about-provider-services-list-item-7"
                                                    style="color: rgb(126,128,129);">
                                                    comply with the law relating to&nbsp;all aspects of the contract between you and your customer, relating in&nbsp;particular to your obligations to provide full information and accept&nbsp;cancellation and returns.
                                                    However, you may also offer more favourable terms to&nbsp;your customers as per your own returns and refunds policy set out on your website or otherwise in your terms and conditions;<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="complaints-about-provider-services-list-item-8" style="color: rgb(126,128,129);">when you have an obligation to&nbsp;return money to a customer for any reason, you will do so immediately in line&nbsp;with the cancellation and refunds policy set out on Our Website;<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="complaints-about-provider-services-list-item-9" style="color: rgb(126,128,129);">comply with the [Our name] procedures relating to satisfaction of an&nbsp;order, as set out on Our Website from time to time;<br></li>
                                                <li class="text-left text-muted list-item-main" id="complaints-about-provider-services-list-item-10"
                                                    style="color: rgb(126,128,129);">Please provide information to&nbsp;us in respect of any claim for non-supply and any dispute as to payment, so as&nbsp;to enable us to identify the possibility of fraud.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="The-Selling-Procedure">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-the-selling-procedure">
                                        <h5 id="the-selling-procedure" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-6" href="#accordion-1 .item-6" style="color: rgb(69,136,250);">The Selling Procedure</a></h5>
                                    </div>
                                    <div class="collapse item-6" role="tabpanel" data-parent="#accordion-1" id="The-Selling-Procedure">
                                        <div class="card-body">
                                            <ol id="The-Selling-Procedure-list-3" start="1">
                                                <li class="text-left text-muted list-item-main" id="the-selling-procedure-list-item-1" style="color: rgb(126,128,129);">[Our name] is not responsible for the fulfilment of your contract to sell a&nbsp;Provider Service.<br></li>
                                                <li class="text-left text-muted list-item-main" id="the-selling-procedure-list-item-2" style="color: rgb(126,128,129);">
                                                    Your contract with a buyer&nbsp;through Our Website is made when you acknowledge the order or commence Your&nbsp;Service. Until that time, the customer's action is an "invitation to&nbsp;treat". We have arranged
                                                    our terms with buyers in that way so as to give&nbsp;you the opportunity to decline a buyer or provide the full information required&nbsp;by the law.<br>
                                                </li>
                                            </ol>
                                            <p class="card-text text-dark" id="the-selling-procedure-main-text-2">OR</p>
                                            <ol id="The-Selling-Procedure-list-4" start="3">
                                                <li class="text-left text-muted list-item-main" id="the-selling-procedure-list-item-3" style="color: rgb(126,128,129);">You agree that a service contract offered by you is a firm and binding contract as soon as your customer's payment has been accepted by our payment service provider.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="the-selling-procedure-list-item-4" style="color: rgb(126,128,129);">Provider Services may be&nbsp;offered for sale subject to any discount or promotion arranged between [Our name] and you.<br></li>
                                                <li class="text-left text-muted list-item-main" id="the-selling-procedure-list-item-5"
                                                    style="color: rgb(126,128,129);">
                                                    Subject to discounts and&nbsp;promotions, Provider Services are offered for sale at a fixed price. VAT may be&nbsp;due and will be either included in the price or shown separately. If not shown,&nbsp;it will not
                                                    be charged.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="the-selling-procedure-list-item-6" style="color: rgb(126,128,129);">
                                                    Provider Services will be&nbsp;offered for sale and sales made, subject to the terms and conditions applicable&nbsp;to buyers. You accept and endorse these terms and agree to comply in all&nbsp;respects with the
                                                    corresponding obligations of a Provider. You may view the&nbsp;buyer's conditions on Our Website at any time.<br>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Value-Added-Tax">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-value-added-tax">
                                        <h5 id="value-added-tax" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-7" href="#accordion-1 .item-7" style="color: rgb(69,136,250);">Value Added Tax</a></h5>
                                    </div>
                                    <div class="collapse item-7" role="tabpanel" data-parent="#accordion-1" id="Value-Added-Tax">
                                        <div class="card-body">
                                            <ol id="Value-Added-Tax-list" start="1">
                                                <li class="text-left text-muted list-item-main" id="value-added-tax-list-item-1" style="color: rgb(126,128,129);">Fees and commissions specified in Our Website are exclusive of VAT.<br></li>
                                                <li class="text-left text-muted list-item-main" id="value-added-tax-list-item-2" style="color: rgb(126,128,129);">If you are located in the South&nbsp;Africa, we will show and retain the amount of VAT due on our charge for our&nbsp;services in addition to the amount of commission due to us.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="value-added-tax-list-item-3" style="color: rgb(126,128,129);">If you are located in the South&nbsp;Africa, and you provide a valid VAT registration number, we will not charge or&nbsp;deduct VAT from sums due to you.<br></li>
                                                <li class="text-left text-muted list-item-main" id="value-added-tax-list-item-4"
                                                    style="color: rgb(126,128,129);">[Our name] has the right to demand additional information about your business&nbsp;so far as it may affect your VAT registration, at any time, from you or from a&nbsp;governmental authority. <br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Our-Commision-And-Payment-To-You">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-our-commision-and-payment-to-you">
                                        <h5 id="our-commision-and-payment-to-you" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-8" href="#accordion-1 .item-8" style="color: rgb(69,136,250);">Our Commision And Payment To You</a></h5>
                                    </div>
                                    <div class="collapse item-8" role="tabpanel" data-parent="#accordion-1" id="Our-Commision-And-Payment-To-You">
                                        <div class="card-body">
                                            <ol id="Our-Commision-And-Payment-To-You-1" start="1">
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-1" style="color: rgb(126,128,129);">&nbsp;We sell Your Service at the&nbsp;price you place on it, subject to these terms and the requirements we set out&nbsp;on Our Website from time to time.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="our-commision-and-payment-to-you-list-item-2" style="color: rgb(126,128,129);">Our fees and commissions are payable&nbsp;on demand. You irrevocably authorise us to deduct them from sums paid to us by&nbsp;your buyer.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-3"
                                                    style="color: rgb(126,128,129);">Our Website selling system is an automated system which can be followed by you through a "control&nbsp;panel".<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-4"
                                                    style="color: rgb(126,128,129);">The proportion of each sale&nbsp;receipt retained by us is as agreed by us in writing.<br></li>
                                            </ol>
                                            <p class="card-text text-dark" id="our-commision-and-payment-to-you-list-main-text-1">OR</p>
                                            <ol id="Our-Commision-And-Payment-To-You-list-2" start="5">
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-5" style="color: rgb(126,128,129);">The proportion of each sale&nbsp;receipt retained by us is as set out elsewhere on Our Website.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-6" style="color: rgb(126,128,129);">
                                                    Where our commission is based&nbsp;on a percentage of the sale price, you may not artificially inflate the&nbsp;delivery charge and reduce the price of the Provider Service in order to reduce&nbsp;our commission.
                                                    If we believe that you do so, we may immediately cease to deal&nbsp;with you.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-7" style="color: rgb(126,128,129);">We will pay you within [15]&nbsp;days of confirmed despatch of order.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-8" style="color: rgb(126,128,129);">If you have a bank account&nbsp;located in the South Africa, we will transfer money via the internet, in full.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-9"
                                                    style="color: rgb(126,128,129);">
                                                    If you do not have an account&nbsp;in the South Africa, we will transfer money in any sum at your request and at&nbsp;your cost. We will pay for the transfer if the sum due is over the limit&nbsp;specified from
                                                    time to time on Our Website.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-10" style="color: rgb(126,128,129);">We will send you an invoice for&nbsp;our charges.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-11" style="color: rgb(126,128,129);">
                                                    If we do or could earn interest&nbsp;on any cash balance in our control for the period between payment by a customer&nbsp;and our accounting to you, we are free to keep that interest and have no&nbsp;obligation
                                                    to account for it to you.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-12" style="color: rgb(126,128,129);">
                                                    If an action by a buyer results&nbsp;in a charge back to our account, you agree that we may deduct the sum charged&nbsp;back together with any fee paid to our service provider and bank, from any sum&nbsp;due to
                                                    you, at or after that time.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-13" style="color: rgb(126,128,129);">If you or we accept any&nbsp;cancellation and consequently refund money to a customer, we are not obliged to&nbsp;repay commission to you.<br></li>
                                                <li class="text-left text-muted list-item-main" id="our-commision-and-payment-to-you-list-item-14"
                                                    style="color: rgb(126,128,129);">
                                                    If in our discretion we believe&nbsp;that your performance as a Provider results in a significant number of charges&nbsp;back and / or buyer disputes or if we believe you are in breach of this&nbsp;agreement, we
                                                    are free to hold back payments to you until we are satisfied that&nbsp;disputes have been settled and / or breach rectified.<br>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Advertising-Your-Provider-Service">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-advertising-your-provider-service">
                                        <h5 id="advertising-your-provider-service" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-9" href="#accordion-1 .item-9" style="color: rgb(69,136,250);">Advertising Your Provider Service</a></h5>
                                    </div>
                                    <div class="collapse item-9" role="tabpanel" data-parent="#accordion-1" id="Advertising-Your-Provider-Service">
                                        <div class="card-body">
                                            <p class="card-text text-dark" id="advertising-your-provider-service-main-text">If you accept our offer to&nbsp;advertise market or promote your service, the following conditions apply:<br></p>
                                            <ol id="Advertising-Your-Provider-Service-1" start="1">
                                                <li class="text-left text-muted list-item-main" id="advertising-your-provider-service-list-item-1" style="color: rgb(126,128,129);">We may use the services of a&nbsp;specialist internet marketing business associated with [Our&nbsp;name].<br></li>
                                                <li class="text-left text-muted list-item-main" id="advertising-your-provider-service-list-item-2"
                                                    style="color: rgb(126,128,129);">
                                                    Without prior consent of the other; neither we nor you will contract&nbsp;with any other person or company for specialist services. Here your obligation<br>is limited to the extent of the price charged and due to
                                                    us.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="advertising-your-provider-service-list-item-3" style="color: rgb(126,128,129);">The price charged to you will&nbsp;include all payments we make to others.<br></li>
                                                <li class="text-left text-muted list-item-main" id="advertising-your-provider-service-list-item-4" style="color: rgb(126,128,129);">The cost of work ordered by you&nbsp;is payable in full, in advance. If you so request us, by indication on Our Website, we will deduct the cost from your account.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="advertising-your-provider-service-list-item-5" style="color: rgb(126,128,129);">We give no guarantee as to the&nbsp;success of any advertising placed.<br></li>
                                                <li class="text-left text-muted list-item-main" id="advertising-your-provider-service-list-item-6" style="color: rgb(126,128,129);">We shall receive no secret&nbsp;commission on advertising services. But note that the service supplier is&nbsp;associated with us.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Your-Provider-Service-Warranties">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-your-provider-service-warranties">
                                        <h5 id="your-provider-service-warranties" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-10" href="#accordion-1 .item-10" style="color: rgb(69,136,250);">Your Provider Service Warranties</a></h5>
                                    </div>
                                    <div class="collapse item-10" role="tabpanel" data-parent="#accordion-1" id="Your-Provider-Service-Warranties">
                                        <div class="card-body">
                                            <ol id="Your-Provider-Service-Warranties-1" start="1">
                                                <li class="text-left text-muted list-item-main" id="your-provider-service-warranties-list-1" style="color: rgb(126,128,129);">
                                                    You warrant that any Provider Service you place on our website for sale :
                                                    <ol class="text-justify text-dark" start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="your-provider-service-warranties-list-item-1-sub-list-item-1">is not: illegal, obscene,abusive, threatening, defamatory, invasive of privacy, infringing of&nbsp;intellectual property rights, or otherwise injurious to any third party;<br></li>
                                                        <li id="your-provider-service-warranties-list-item-1-sub-list-item-2">does not offend against the law&nbsp;of any country whose citizens might purchase it;<br></li>
                                                        <li id="your-provider-service-warranties-list-item-1-sub-list-item-3">is not intended primarily to&nbsp;advertise any business, except your business, so far only as it is carried on&nbsp;through [Our name].<br></li>
                                                    </ol>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="your-provider-service-warranties-list-2" style="color: rgb(126,128,129);">
                                                    You warrant that you own the copyright of any Provider Service you place on Our Website for sale, or that you have the permission of the&nbsp;copyright owner&nbsp;:
                                                    <ol class="text-justify text-dark" start="1" type="i"
                                                        style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="your-provider-service-warranties-list-item-2-sub-list-item-1">to place the Provider Service&nbsp;on Our Website for sale;<br></li>
                                                        <li id="your-provider-service-warranties-list-item-2-sub-list-item-2">to receive the net proceeds of&nbsp;such sales as arise;<br></li>
                                                        <li id="your-provider-service-warranties-list-item-2-sub-list-item-3">to defend the copyright in the Provider Service.<br></li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="How-We-Handle-Your-Content">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-how-we-handle-your-content">
                                        <h5 id="how-we-handle-your-content" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-11" href="#accordion-1 .item-11" style="color: rgb(69,136,250);">How We Handle Your Content</a></h5>
                                    </div>
                                    <div class="collapse item-11" role="tabpanel" data-parent="#accordion-1" id="How-We-Handle-Your-Content">
                                        <div class="card-body">
                                            <ol id="How-We-Handle-Your-Content-1" start="1">
                                                <li class="text-left text-muted list-item-main" id="how-we-handle-your-content-list-item-1" style="color: rgb(126,128,129);">If you Post Content to any&nbsp;public area of Our Website it becomes available in the public domain. We have&nbsp;no control who sees it or what anyone does with it.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="how-we-handle-your-content-list-item-2" style="color: rgb(126,128,129);">[You now&nbsp;irrevocably authorise us to publish feedback, comments and ratings about Your&nbsp;Services and activity through Our Website, even though it may be defamatory or&nbsp;critical].<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="how-we-handle-your-content-list-item-3" style="color: rgb(126,128,129);">We will use that licence only&nbsp;for commercial purposes of the business of Our Website and will stop using it&nbsp;after a commercially reasonable period of time.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="how-we-handle-your-content-list-item-4" style="color: rgb(126,128,129);">Posting Content of any sort&nbsp;does not change your ownership of the copyright in it. We have no claim over it&nbsp;and we will not protect your rights for you.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="how-we-handle-your-content-list-item-5" style="color: rgb(126,128,129);">
                                                    You understand that you are&nbsp;personally responsible for your breach of someone else's intellectual property&nbsp;rights, defamation, or any law, which may occur as a result of any Content&nbsp;having been Posted
                                                    by you.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="how-we-handle-your-content-list-item-6" style="color: rgb(126,128,129);">You accept all risk and responsibility&nbsp;for determining whether any Content is in the public domain and not&nbsp;confidential.<br></li>
                                                <li class="text-left text-muted list-item-main" id="how-we-handle-your-content-list-item-7"
                                                    style="color: rgb(126,128,129);">Please notify us of any security breach or unauthorised use of your account.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Restrictions-on-what-you-may-post-on-our-website">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-restrictions-on-what-you-may-post-to-our-website">
                                        <h5 id="restrictions-on-what-you-may-post-to-our-website" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-12" href="#accordion-1 .item-12" style="color: rgb(69,136,250);">Restrictions On What You May Post To Our Website</a></h5>
                                    </div>
                                    <div class="collapse item-12" role="tabpanel" data-parent="#accordion-1" id="Restrictions-on-what-you-may-post-on-our-website">
                                        <div class="card-body">
                                            <p class="card-text text-left" id="restrictions-on-what-you-may-post-to-our-website-main-text">
                                                We invite you to Post Content to&nbsp;Our Website for [marketing your services and services&nbsp;and in other ways]. We have to regulate your use of Our Website to&nbsp;protect our business and our staff, to protect
                                                other users of Our Website and&nbsp;to comply with the law.<br><br>We do not undertake to moderate or&nbsp;check any item Posted.<br><br>You agree that you will not use or&nbsp;allow anyone else to use Our Website
                                                to Post Content or undertake any activity&nbsp;which is or may:<br><br>
                                            </p>
                                            <ol id="Restrictions-on-what-you-may-post-on-our-website-7" start="1">
                                                <li class="text-left text-muted list-item-main" id="restrictions-on-what-you-may-post-to-our-website-list-item-1" style="color: rgb(126,128,129);">be unlawful, or tend to incite&nbsp;another person to commit a crime;<br></li>
                                                <li class="text-left text-muted list-item-main" id="restrictions-on-what-you-may-post-to-our-website-list-item-2" style="color: rgb(126,128,129);">be obscene, offensive, threatening,&nbsp;violent, malicious or defamatory;<br></li>
                                                <li class="text-left text-muted list-item-main" id="restrictions-on-what-you-may-post-to-our-website-list-item-3" style="color: rgb(126,128,129);">be sexually explicit or&nbsp;pornographic;<br></li>
                                                <li class="text-left text-muted list-item-main" id="restrictions-on-what-you-may-post-to-our-website-list-item-4" style="color: rgb(126,128,129);">be likely to deceive any person&nbsp;or be used to impersonate any person, or to misrepresent your identity, age or&nbsp;affiliation with any person;<br></li>
                                                <li class="text-left text-muted list-item-main" id="restrictions-on-what-you-may-post-to-our-website-list-item-5"
                                                    style="color: rgb(126,128,129);">use a Posting to solicit responses&nbsp;unconnected with the purpose of Our Website or the terms proposed by this&nbsp;agreement.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Your-posting-restricted-content">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-your-posting-restricted-content">
                                        <h5 id="your-posting-restricted-content" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-13" href="#accordion-1 .item-13" style="color: rgb(69,136,250);">Your Posting : Restricted Content</a></h5>
                                    </div>
                                    <div class="collapse item-13" role="tabpanel" data-parent="#accordion-1" id="Your-posting-restricted-content">
                                        <div class="card-body">
                                            <p class="card-text text-left" id="your-posting-restricted-content-main-text">
                                                In connection with the restrictions&nbsp;set out below, we may refuse or edit or remove a Posting which does not comply&nbsp;with these terms.<br><br>In addition to the restrictions set&nbsp;out above, a Posting must
                                                not contain:<br>
                                            </p>
                                            <ol id="Your-posting-restricted-content" start="1">
                                                <li class="text-left text-muted list-item-main" id="your-posting-restricted-content-list-item-1" style="color: rgb(126,128,129);">hyperlinks, other than those&nbsp;specifically authorised by us;<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-posting-restricted-content-list-item-2" style="color: rgb(126,128,129);">keywords or words repeated,&nbsp;which are irrelevant to the Content Posted.<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-posting-restricted-content-list-item-3" style="color: rgb(126,128,129);">the name, logo or trademark of&nbsp;any organisation other than yours.&nbsp;<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-posting-restricted-content-list-item-4" style="color: rgb(126,128,129);">inaccurate, false, or misleading information;&nbsp;<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-posting-restricted-content-list-item-5" style="color: rgb(126,128,129);">material or links to material&nbsp;that exploits people in a sexual, violent or other manner, or solicits personal&nbsp;information from anyone under 18 years old.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Security-of-our-website">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-security-of-our-website">
                                        <h5 id="security-of-our-website" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-14" href="#accordion-1 .item-14" style="color: rgb(69,136,250);">Security Of Our Website</a></h5>
                                    </div>
                                    <div class="collapse item-14" role="tabpanel" data-parent="#accordion-1" id="Security-of-our-website">
                                        <div class="card-body">
                                            <p class="card-text text-left" id="security-of-our-website-main-text">If you violate Our Website we shall&nbsp;take legal action against you.<br><br>You now agree that you will not,&nbsp;and will not allow any other person to:<br></p>
                                            <ol id="Security-of-our-website-list" start="1">
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-1" style="color: rgb(126,128,129);">modify, copy, or cause damage&nbsp;or unintended effect to any portion of Our Website, or any software used within&nbsp;it.<br></li>
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-2"
                                                    style="color: rgb(126,128,129);">link to our site in any way that would cause the appearance or presentation of the site to be different from what would be seen by a user who accessed the site by typing the URL into a standard browser;<br></li>
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-3" style="color: rgb(126,128,129);">download any part of Our&nbsp;Website, without our express written consent;<br></li>
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-4" style="color: rgb(126,128,129);">collect or use any service&nbsp;listings, descriptions, or prices;<br></li>
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-5" style="color: rgb(126,128,129);">collect or use any information&nbsp;obtained from or about Our Website or the Content except as intended by this&nbsp;agreement;<br></li>
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-6"
                                                    style="color: rgb(126,128,129);">aggregate, copy or duplicate in&nbsp;any manner any of the Content or information available from Our Website, other than as permitted by this agreement or as is reasonably necessary for your use of Our Services;<br></li>
                                                <li class="text-left text-muted list-item-main" id="security-of-our-website-list-item-7" style="color: rgb(126,128,129);">share with a third party any login credentials to Our Website.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="legal-disclaimer-card-header-copyright-and-other-intellectual-property-rights">
                                    <div class="card-header" role="tab" id="copyright-and-other-intellectual-property-rights-itemheading">
                                        <h5 id="copyright-and-other-intellectual-property-rights" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-15" href="#accordion-1 .item-15" style="color: rgb(69,136,250);">Copyright And Other Intellectual Property Rights</a></h5>
                                    </div>
                                    <div class="collapse item-15" role="tabpanel" data-parent="#accordion-1" id="Copyright-and-other-intellectual-property-rights">
                                        <div class="card-body">
                                            <ol id="Copyright-and-other-intellectual-property-rights-list-2" start="1">
                                                <li class="text-left text-muted list-item-main" id="copyright-and-other-intellectual-property-rights-list-item-1" style="color: rgb(126,128,129);">
                                                    All Content on Our Website, for&nbsp;example page text, graphics, logos, images, audio clips, digital downloads, data compilations, and software, is the property of either us or our affiliates or suppliers of services
                                                    for sale. It is all protected by international copyright laws.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="copyright-and-other-intellectual-property-rights-list-item-2" style="color: rgb(126,128,129);">
                                                    You may not copy, modify,&nbsp;publish, transmit, transfer or sell, reproduce, create derivative works from, distribute, perform, display, or in any way exploit any of the Content, in&nbsp;whole or in part, except
                                                    as is expressly permitted in this agreement or with&nbsp;our written consent.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="copyright-and-other-intellectual-property-rights-list-item-3" style="color: rgb(126,128,129);">For the sake of good order you should note that copyright exists in compilations and graphic images, shapes and styles, as well as in raw text.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Interruption-to-our-service">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-interruption-to-our-service">
                                        <h5 id="interruption-to-our-service" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-16" href="#accordion-1 .item-16" style="color: rgb(69,136,250);">Interruption To Our Service</a></h5>
                                    </div>
                                    <div class="collapse item-16" role="tabpanel" data-parent="#accordion-1" id="Interruption-to-our-service">
                                        <div class="card-body">
                                            <ol id="Interruption-to-our-service-list" start="1">
                                                <li class="text-left text-muted list-item-main" id="interruption-to-our-service-list-item-1" style="color: rgb(126,128,129);">We give no warranty that Our&nbsp;Service will be satisfactory to you.<br></li>
                                                <li class="text-left text-muted list-item-main" id="interruption-to-our-service-list-item-2" style="color: rgb(126,128,129);">We will do all we can to maintain access to Our Website, but it may be necessary for us to suspend all or part of Our Service for repairs, maintenance or other good reasons. We may do so without telling you first.<br></li>
                                                <li class="text-left text-muted list-item-main" id="interruption-to-our-service-list-item-3" style="color: rgb(126,128,129);">You acknowledge that Our&nbsp;Service may also be interrupted for reasons beyond our control.<br></li>
                                                <li class="text-left text-muted list-item-main" id="interruption-to-our-service-list-item-4" style="color: rgb(126,128,129);">You agree that we are not liable to you for any loss whether foreseeable or not, arising as a result of interruption to Our Service.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Our-disclaimers">
                                    <div class="card-header" role="tab" id="our-disclaimers">
                                        <h5 id="our-disclaimers" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-17" href="#accordion-1 .item-17" style="color: rgb(69,136,250);">Our Disclaimers</a></h5>
                                    </div>
                                    <div class="collapse item-17" role="tabpanel" data-parent="#accordion-1" id="Our-disclaimers">
                                        <div class="card-body">
                                            <ol id="Our-disclaimers-list" start="1">
                                                <li class="text-left text-muted list-item-main" id="our-disclaimers-list-item-1" style="color: rgb(126,128,129);">
                                                    We are not responsible for any&nbsp;business loss (including loss of profits, revenue, contracts, anticipated&nbsp;savings, data, goodwill or wasted expenditure) or any other indirect or&nbsp;consequential loss
                                                    whatever.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-disclaimers-list-item-2" style="color: rgb(126,128,129);">
                                                    Our Website contains links to&nbsp;other Internet websites. We have neither power nor control over any such&nbsp;website. You acknowledge and agree that we shall not be liable in any way for&nbsp;the content of
                                                    any such linked website, nor for any loss or damage arising from&nbsp;your use of any such website.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-disclaimers-list-item-3" style="color: rgb(126,128,129);">
                                                    We are not liable in any&nbsp;circumstances for damages resulting from loss of use, loss of data or loss of&nbsp;revenues or profits, whether in an action of contract, negligence or otherwise, arising out of or
                                                    in connection with your use of Our Website.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-disclaimers-list-item-4" style="color: rgb(126,128,129);">
                                                    [Our name] website and [Our name] services are&nbsp;provided "as is". As to Our Website and Our Services, we make no representation or warranty of any kind, express or implied, including, without limitations, warranties:<br>
                                                    <ol class="text-justify text-dark" start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="our-disclaimers-list-item-4-sub-list-item-1">as to fitness of Our Website&nbsp;and Our Service for a particular purpose;<br></li>
                                                        <li id="our-disclaimers-list-item-4-sub-list-item-2">as to availability and accessibility,&nbsp;without interruption, or without error;<br></li>
                                                        <li id="our-disclaimers-list-item-4-sub-list-item-3">any obligation, liability, or&nbsp;remedy in tort whether or not arising from our negligence;<br></li>
                                                    </ol>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="our-disclaimers-list-item-5" style="color: rgb(126,128,129);">You now expressly release us&nbsp;from any and all claims and liability known and unknown, arising in any way&nbsp;from a dispute between you and a buyer.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Your-indemnity-to-us">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-your-indemnity-to-us">
                                        <h5 id="your-indemnity-to-us" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-18" href="#accordion-1 .item-18" style="color: rgb(69,136,250);">Your Indemnity To Us</a></h5>
                                    </div>
                                    <div class="collapse item-18" role="tabpanel" data-parent="#accordion-1" id="Your-indemnity-to-us">
                                        <div class="card-body">
                                            <p class="card-text text-left" id="your-indemnity-to-us-main-text">You agree to indemnify us against&nbsp;all loss and expense, including legal fees and management time related in any&nbsp;way to:<br></p>
                                            <ol id="Your-indemnity-to-us-list-1" start="1">
                                                <li class="text-left text-muted list-item-main" id="your-indemnity-to-us-list-item-1" style="color: rgb(126,128,129);">a claim by any person in&nbsp;respect of any Provider Service;<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-indemnity-to-us-list-item-2" style="color: rgb(126,128,129);">
                                                    protecting the reputation of&nbsp;our business by our making a payment to a customer of yours in circumstances&nbsp;where you have failed to make that repayment or otherwise comply with your&nbsp;contract with that
                                                    customer.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="your-indemnity-to-us-list-item-3" style="color: rgb(126,128,129);">
                                                    any cost to us arising from a&nbsp;decision by us to comply as your agent, with any obligation of yours, whether or not we have your permission, arising out of any regulation or law,&nbsp;including:<br>
                                                    <ol class="text-justify text-dark"
                                                        start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="your-indemnity-to-us-list-item-3-sub-list-item-1">the deletion or amendment of&nbsp;any text or other content you have placed on Our Website;<br></li>
                                                        <li id="your-indemnity-to-us-list-item-3-sub-list-item-2">any payment we make on an ex&nbsp;gratia basis, arising from a contract between you and a customer;<br></li>
                                                    </ol>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="your-indemnity-to-us-list-item-4" style="color: rgb(126,128,129);">legal or other fees we incur in&nbsp;defending a claim or the imposition of a fine or penalty;<br></li>
                                                <li class="text-left text-muted list-item-main" id="your-indemnity-to-us-list-item-5" style="color: rgb(126,128,129);">our management time in dealing with any failure or alleged failure by you to comply with any relevant&nbsp;regulation or law.<br></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" id="Miscellaneous-Matters">
                                    <div class="card-header" role="tab" id="legal-disclaimer-card-header-miscellaneous-matters">
                                        <h5 id="miscellaneous-matters" class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-19" href="#accordion-1 .item-19" style="color: rgb(69,136,250);">Miscellaneous Matters</a></h5>
                                    </div>
                                    <div class="collapse item-19" role="tabpanel" data-parent="#accordion-1" id="Miscellaneous-Matters">
                                        <div class="card-body">
                                            <ol id="Miscellaneous-Matters-list" start="1">
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-1" style="color: rgb(126,128,129);">
                                                    You undertake to provide us&nbsp;your current land address, e-mail address, telephone and fax numbers as often&nbsp;as they are changed together with all information that we may require to enable us to fulfil our
                                                    obligations under this contract.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-2" style="color: rgb(126,128,129);">So far as any time, date or&nbsp;period is mentioned in this agreement, time shall be of the essence.&nbsp;<br></li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-3" style="color: rgb(126,128,129);">
                                                    If any term or provision of&nbsp;this agreement is at any time held by any jurisdiction to be void, invalid or&nbsp;unenforceable, then it shall be treated as changed or reduced, only to the&nbsp;extent minimally
                                                    necessary to bring it within the laws of that jurisdiction and&nbsp;to prevent it from being void and it shall be binding in that changed or&nbsp;reduced form. Subject to that, each provision shall be interpreted
                                                    as severable&nbsp;and shall not in any way affect any other of these terms.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-4" style="color: rgb(126,128,129);">
                                                    [Our Name] respects your privacy, takes reasonable steps to protect your&nbsp;personal information as defined in the Promotion of Access to Information Act&nbsp;2000 and Protection of Personal Information Act 2013.
                                                    Our compliance with the&nbsp;legislation is set out in Privacy Policy.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-5" style="color: rgb(126,128,129);">
                                                    If you are in breach of any&nbsp;term of this agreement, we may:<br>
                                                    <ol class="text-justify text-dark" id="Miscellaneous-Matters-5" start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="miscellaneous-matters-list-item-5-sub-list-item-1">
                                                            publish all text and Content&nbsp;relating to the claimed breach, including your name and email address and all&nbsp;correspondence between us and our respective advisers; and you now irrevocably&nbsp;give
                                                            your consent to such publication.<br>
                                                        </li>
                                                        <li id="miscellaneous-matters-list-item-5-sub-list-item-2">terminate your account and refuse access to Our Website;<br></li>
                                                        <li id="miscellaneous-matters-list-item-5-sub-list-item-3">remove or edit Content, or&nbsp;cancel any order at our discretion;<br></li>
                                                        <li id="miscellaneous-matters-list-item-5-sub-list-item-4">issue a claim in any court.<br></li>
                                                    </ol>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item--6" style="color: rgb(126,128,129);">Any obligation in this&nbsp;agreement intended to continue to have effect after termination or completion<br>shall so continue.<br></li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-7"
                                                    style="color: rgb(126,128,129);">No failure or delay by any party to exercise any right, power or remedy will operate as a waiver of it nor indicate any intention to reduce that or any other right in the future.<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="miscellaneous-matters-list-item-8" style="color: rgb(126,128,129);">
                                                    When you visit Our Website or&nbsp;send messages to us by email, you are communicating with us electronically. We&nbsp;communicate with you by e-mail or by posting notices on Our Website. You agree that all our
                                                    electronic communications satisfy any legal requirement that such communications be in writing.<br>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-9" style="color: rgb(126,128,129);">
                                                    Any communication to be served on either of us by the other shall be delivered by hand or sent by first class<br>post or recorded delivery or by fax or by e-mail.<br> <br> It shall be deemed to have been delivered:<br>
                                                    <ol class="text-justify text-dark" id="Miscellaneous-Matters-9" start="1" type="i" style="padding: 0px 0px 0px 60px;color: rgb(37,38,38);">
                                                        <li id="miscellaneous-matters-list-item-9-sub-list-item-1">if delivered by hand: on the day of delivery;<br></li>
                                                        <li id="miscellaneous-matters-list-item-9-sub-list-item-2">if sent by post to the correct address: within 72 hours of posting;<br></li>
                                                        <li id="miscellaneous-matters-list-item-9-sub-list-item-3">If sent by e-mail to the address from which the receiving party has last sent e-mail: within 24 hours if no notice of non-receipt has been received by the sender.<br></li>
                                                    </ol>
                                                </li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-10" style="color: rgb(126,128,129);">In the event of a dispute&nbsp;between us, then, if we so ask, you undertake to attempt to settle the dispute&nbsp;by engaging in good faith with us in a process of mediation before commencing&nbsp;arbitration or litigation.<br></li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-11" style="color: rgb(126,128,129);">This agreement does not give&nbsp;any right to any third party.<br></li>
                                                <li class="text-left text-muted list-item-main" id="miscellaneous-matters-list-item-12" style="color: rgb(126,128,129);">We shall not be liable for any&nbsp;failure or delay in our performance of this agreement which is caused by&nbsp;circumstances beyond our reasonable control, [including&nbsp;any labour dispute].<br></li>
                                                <li class="text-left text-muted list-item-main"
                                                    id="miscellaneous-matters-list-item-13" style="color: rgb(126,128,129);">
                                                    In the event of any conflict&nbsp;between any term of this agreement and the provisions of the memorandum of&nbsp;incorporation of a limited company or any comparable document intended to&nbsp;regulate any other
                                                    corporate or collective body, then the terms of this agreement&nbsp;shall prevail.<br>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="card">
                    <div class="card-header text-center speaking-bubble-icon" id="explanatory-notes-card-header" style="color: rgb(125,43,48);"><i class="fas fa-comment-alt border-success" style="width: 20px;font-size: 50px;color: rgb(17,159,255);"></i></div>
                    <div class="card-body">
                        <h2 class="text-center card-title three-icon-1-card-title-card-title-explanatory-first-line-of-heading" id="three-icon-1-card-title-card-title-explanatory-first-line-of-heading" style="font-size: 26px;color: rgb(65,138,251);">Explanatory Notes:<br></h2>
                        <h3 class="text-justify card-title website-terms-subheading-1" id="website-terms-subheading-1" style="color: rgba(24,23,23,0.5);font-size: 24PX;">Website terms and conditions&nbsp;template: marketplace for services; seller side documentation<br></h3>
                        <div role="tablist" id="accordion-2">
                            <div class="card">
                                <div class="card-header" role="tab" id="paragraph-specific-notes-card-header">
                                    <h5 id="paragraph-specific-notes" class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-2 .item-1" href="#accordion-2 .item-1" id="paragraph-specific-notes">Paragraph Specific Notes:<br></a></h5>
                                </div>
                                <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-2">
                                    <div class="card-body">
                                        <h3 class="text-justify three-icon-1-card-title-Protectionheadng" id="paragraph-specific-notes-terms-subheading" style="color: rgba(24,23,23,0.5);font-size: 20PX;">Dafting notes following the numbered&nbsp;paragraphs<br></h3>
                                        <ol id="Notes-Paragraph-specific-main-list" class="Notes-Paragraph-specific-main-list" start="1">
                                            <li id="paragraph-specific-notes-list-item-1">
                                                &nbsp;<strong>Definitions</strong><br><br>We do not know exact terms of your&nbsp;business, so we cannot provide you with defined terms which precisely describe what you offer through your website. Most visitors/users
                                                do not read your terms&nbsp;(even if they have to "tick the box"). The people who do take the<br>trouble to read them are likely to be the sort of people who expect the same attention to detail from you
                                                as they themselves give to their purchase of your goods or services. It therefore helps you to obtain their business if your terms are accurate and friendly. If you do change the defined word, <strong>make sure it applies to every use of it in the document</strong>.<br><br>Remember
                                                too, that when a word or phrase is defined, the defined meaning when capitalised, takes&nbsp;precedence over the common meaning of that word or phrase.<br><br>You should first decide on the&nbsp;contents
                                                of the document, then return to check what definitions are needed and&nbsp;whether they really fit the text you have left in place.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-2">
                                                <strong>Our contract</strong><br><br>The contractual relationship in&nbsp;your business is particularly important if you are to avoid being deemed to be&nbsp;involved in any transaction between a buyer and a
                                                seller.<br><br>This paragraph is concerned with&nbsp;the basics of what each side is expected to do and not do. Edit to suit your&nbsp;business model.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-3">
                                                <strong>Consumer protection: cancellation and exclusions</strong><br><br>These paragraphs ensure compliance&nbsp;with Electronic Communications&nbsp;and Transactions Act 2002 (ECTA) and other consumer protection
                                                law.<br>
                                                <ul id="Notes-Paragraph-specific-sub-list-3" class="Notes-Paragraph-specific-sub-list">
                                                    <li id="paragraph-specific-notes-list-item-3-sub-list-1">Your sensible policy will be to&nbsp;pass any problem to your seller, but there may be occasions when you need to be&nbsp;able to deal with customer problems immediately in order to protect your own&nbsp;interests.<br></li>
                                                    <li id="paragraph-specific-notes-list-item-3-sub-list-2">
                                                        Provider service information&nbsp;should be entered or uploaded by your seller. We suggest you should have no&nbsp;part in this. It follows that the space you allocate to each product will be&nbsp;adequate
                                                        to give the information and that your system for taking it includes&nbsp;basic supplier data.<br>
                                                    </li>
                                                    <li id="paragraph-specific-notes-list-item-3-sub-list-3">See above for detailedsuggestions. This and following two sub paragraphs are options to be edited to&nbsp;suit your chosen business model and policy.<br></li>
                                                </ul>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-4"><strong>Your Provider Service placement</strong><br><br>These ground rules make sure that&nbsp;you are in control of what is placed on your website.<br></li>
                                            <li id="paragraph-specific-notes-list-item-5">
                                                <strong>Complaints about Provider Services</strong><br><br>If your users are to return time&nbsp;and again, it will be because the buying experience from your site is better&nbsp;than elsewhere. One way to make
                                                that certain is to specify a precise returns&nbsp;policy. In other words, you lay down the contract terms for all your sellers&nbsp;even though you are not a party to the contract.<br><br>We have given you
                                                some ideas. The&nbsp;exact outcome is entirely up to you.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-6">
                                                <strong>The selling procedure</strong><br><br>As for returns, this is an area&nbsp;where you should try to stay in control. Because you take the money, you must make absolutely clear "what happens next". It
                                                is also important that&nbsp;the buyer and seller know exactly when the contract is made.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-7"><strong>Value added tax</strong><br><br>We have no comment.<br></li>
                                            <li id="paragraph-specific-notes-list-item-8">
                                                <strong>Our commission and payment to you</strong><br><br>There are many ways in which you&nbsp;might arrange to be paid. Commission percentage on sales is the most common,&nbsp;but you could as easily use a
                                                fixed sum per sale or you could take no money and&nbsp;rely only on advertising.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-9"><strong>Advertising your Provider Service</strong><br><br>You may not need this provision. It&nbsp;provides a framework for you to arrange promotions and special deals on&nbsp;seller's services.<br></li>
                                            <li id="paragraph-specific-notes-list-item-10"><strong>Your Provider Service warranties</strong><br><br>More protection for you and your&nbsp;website!<br></li>
                                            <li id="paragraph-specific-notes-list-item-11">
                                                <strong>How we handle your Content</strong><br><br>It is a question&nbsp;of balance and maybe how your sellers will react. You are free to delete all or&nbsp;any of it.<br><br>This particular&nbsp;paragraph
                                                covers a sensitive issue. You should edit to suit the way you operate&nbsp;your business. You need to provide a balance between making precise promises which could trip you up on the one hand and giving
                                                a tight enough framework to&nbsp;convince doubters that you will not sell their data. You should also make sure&nbsp;you have the current Net Lawman privacy policy in support.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-12">
                                                <strong>Restrictions on what you may Post to Our Website</strong><br><br>This and the&nbsp;following two paragraphs relate directly to aspects of the interface between&nbsp;you and users of your website.
                                                The more they are allowed to enter data, upload,&nbsp;download, leave messages, and so on, the greater your risk. You cannot stop a&nbsp;criminal by a term in a document, but you can make clear to regular
                                                users,&nbsp;before and after the event, that you will take a tough line for bad behaviour.<br><br>This paragraph has&nbsp;two purposes: the first is the obvious and named purpose of preventing damage&nbsp;to
                                                your website and establishing a contractual obligation by your site users&nbsp;not to do so. Secondly, it may assist in protecting you from civil or criminal&nbsp;charges for which you may otherwise
                                                be liable as a result of what someone else&nbsp;posts to your website.<br><br>No matter what you&nbsp;put in this paragraph, there is no certainty that you may not be the subject of&nbsp;some sort of
                                                attack or other problems. However, we do think it is worth&nbsp;providing a full and strict policy. By doing so, you have the best possible&nbsp;defence against anyone who claims he has been insulted,
                                                injured, defamed, or&nbsp;whatever.<br><br>Of&nbsp;course, anyone who wishes to continue to use your services will comply.<br><br>We have provided a&nbsp;vast menu of possibilities. We suggest that you
                                                edit this paragraph in line&nbsp;with the perceived extent of your risk.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-13">
                                                <strong>Your Posting: restricted content</strong><br><br>When you allow other people to&nbsp;provide any material on your website, you are at risk of claims by some person&nbsp;who believes he is prejudiced
                                                in some way. This paragraph makes clear that the&nbsp;person posting will be liable for any claim, and not you.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-14">
                                                <strong>Security of Our Website</strong><br><br>Your need for this provision depends&nbsp;on the extent to which users are able to post content of any sort. Delete&nbsp;provisions which are stronger than
                                                you need.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-15">
                                                <strong>Copyright and other intellectual property rights</strong><br><br>Breaches of copyright happen&nbsp;constantly. This paragraph simply draws attention to your rights and will&nbsp;strengthen your claim
                                                in the event that anyone uses your work.<br>
                                            </li>
                                            <li id="paragraph-specific-notes-list-item-16"><strong>Interruption to Our Service</strong><br><br>As a market place site, your sellers&nbsp;will suffer loss of business of your site crashes. We suggest you leave this&nbsp;paragraph as it is.<br></li>
                                            <li id="paragraph-specific-notes-list-item-17"><strong>Our disclaimers</strong><br><br>Exclusions of your liability. This&nbsp;paragraph refers to the service you give and has nothing to do with goods sold&nbsp;via your website. Be careful what you delete.<br></li>
                                            <li id="paragraph-specific-notes-list-item-18"><strong>Your indemnity to us</strong><br><br>We suggest no edit.<br></li>
                                            <li id="paragraph-specific-notes-list-item-19">
                                                <strong>Miscellaneous matters</strong><br><br>A number of points which should be&nbsp;included in the agreement in order generally to minimise disruption and&nbsp;expense.<br><br>Unless you have
                                                a good reason to&nbsp;delete any one of these, we recommend that they should remain as drawn.&nbsp;<br>
                                            </li>
                                        </ol>
                                        <div class="col text-center"><a class="btn btn-primary text-center" role="button" id="legal-disclaimer-read-through-button" style="padding: 6px 50px; color:white;" onclick="BackToPreviousPage()"><<</a></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/smart-forms.min.js"></script>
    <script src="~/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/js/theme.js"></script>
</body>

</html>
<script>
    function BackToPreviousPage() {
        window.history.back();
    }
</script>