

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="~/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/typicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/css/Flare.css">
</head>

<body>
    @*<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
            <div class="container">
                <a class="navbar-brand logo" href="#"><i class="fa fa-th-list list-nav-bar-icon" id="list-nav-bar-icon"></i></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" id="home-nav-bar-link" href="index.html">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="form-nav-bar-link" href="Administrative%20details.html">Form</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="form-nav-bar-link" href="Legal%20Disclaimer-1.html">Legal Disclaimer</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" id="form-nav-bar-link" href="POPI%20disclaimer.html">POPI Act</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <main class="page hire-me-page" data-target="#modal1" data-toggle="modal">
        <section class="portfolio-block-agent hire-me">
            <div class="container">
                <form data-bss-recipient="e89110f7373b427fc0601f045a70c137">
                    <div class="form-row">
                        <div class="col">
                            <div class="card special-skill-item border-0">
                                <div class="card-header three-icon-1" id="three-icon-1" style="color: rgb(125,43,48);"><i class="typcn typcn-pen border-success" style="width: 20px;"></i></div>
                                <div class="card-body">
                                    <h3 class="text-center card-title popi-act-card-title-protection-heading" id="popi-act-card-title-protection-heading">PROTECTION<br>OF PERSONAL INFORMATION (“POPI”), PRIVACY POLICY AND PRINCIPLES<br></h3>
                                    <p class="card-text popi-act-introduction-heading-1" id="popi-act-introduction-heading-1" style="color: rgb(150,104,104);">Introduction<br></p>
                                    <p class="text-justify card-text popi-act-introduction-heading-3" id="popi-act-introduction-heading-3" style="color: rgb(115,98,98);">We respect Users’ Privacy and will take reasonable&nbsp;measures to protect it, as more fully detailed below:<br></p>
                                    <ul id="Introduction-list-1" class="Introduction-list">
                                        <li class="text-left" id="popi-act-introduction-heading-3-list-item-1">
                                            &nbsp;We may require the User to provide with personal&nbsp;information which includes but is not limited to company names and registration&nbsp;numbers, name and surname, email address, physical address, gender,
                                            mobile&nbsp;number and date of birth.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-introduction-heading-3-list-item-2">Should the User’s personal&nbsp;information change, please inform and provide with the updates within 7 days to&nbsp;enable to update the User’s personal information.<br></li>
                                        <li class="text-left" id="popi-act-introduction-heading-3-list-item-3">
                                            Users may choose to provide&nbsp;additional personal information to, in which event Users agree to provide&nbsp;accurate and current information, and not to impersonate or misrepresent any&nbsp;person or entity
                                            or falsely state or otherwise misrepresent the User’s<br>affiliation with anyone or anything.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-introduction-heading-3-list-item-4">We ask each of its Users to abide by all applicable laws, rules and regulations, as&nbsp;promise its Users that will do ourselves.<br></li>
                                        <li class="text-left" id="popi-act-introduction-heading-3-list-item-5">The “Products” and “Services” are the DIGITAL&nbsp;MARKETING and related services, as defined in the Master Terms and Conditions.<br></li>
                                    </ul>
                                    <p class="card-text popi-act-users-consent-heading" id="popi-act-users-consent-heading" style="color: rgb(150,104,104);">User’s consent<br></p>
                                    <p class="text-left text-secondary card-text popi-act-users-consent-main-text" id="popi-act-users-consent-main-text" style="color: rgb(150,104,104);">
                                        By using the Website and/or App, the Users consent to the transfer of the User’s personal<br>data. Subject to the below, will not, without the User’s express consent, use&nbsp;the User’s personal information for any
                                        purpose other than as set out below:<br>
                                    </p>
                                    <ul id="User-conesent--list-1" class="User-conesent- list">
                                        <li class="text-left" id="popi-act-users-consent-list-item-1">
                                            uses that information for several purposes: to&nbsp;register the User’s for inclusion in our Service; to fulfil the User’s request;&nbsp; to contact Users if need to obtain or provide additional information; to
                                            verify&nbsp;the accuracy of our records; or to contact Users regarding customer&nbsp;satisfaction surveys;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-2">in relation to the ordering, sale and delivery of&nbsp;Products and Services;<br></li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-3">to contact Users regarding current or new Products&nbsp;or Services or any other Products offered by (unless Users have opted out from&nbsp;receiving marketing material from);<br></li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-4">to inform Users of new features, special offers and&nbsp;promotional competitions offered by (unless Users have opted out from receiving&nbsp;marketing material from);<br></li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-5">
                                            to improve our Products, Services and Users selection and the User’s experience on our Website and/or App by, for example,&nbsp;monitoring the User’s browsing habits, or tracking the User’s sales on the&nbsp;Website
                                            and/or App;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-6">collect certain technical information, such as the&nbsp;browser version and operating system.<br></li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7">disclose the User’s personal information to any&nbsp;third party other than as set out below:<br></li>
                                    </ul>
                                    <ul id="User-conesent--list-disclose-sublist-1" class="User-conesent- list-disclose-sublist" style="padding: 0px 0px 0px 100px;color: rgb(112,111,111);">
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-1">
                                            to our employees and/or third-party Service&nbsp;providers who assist to interact with Users via our Website and/or App, or any&nbsp;other method, for the ordering of Products or Services and thus need to know&nbsp;the
                                            User’s personal information in order to assist to communicate with Users&nbsp;properly and efficiently;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-2">
                                            to our Users (including their employees and/or&nbsp;third party Service providers) in order for them to interact directly with&nbsp;Users via email or any other method for purposes of delivering additional&nbsp;services
                                            and/or products, sending Users marketing material regarding any&nbsp;current or new Products or Services, new features, special offers or&nbsp;promotional items offered by them (unless Users have opted out from
                                            receiving&nbsp;marketing material from);<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-3">
                                            to law enforcement, government officials, fraud&nbsp;detection agencies or other third parties when believe in good faith that the&nbsp;disclosure of personal information is necessary to prevent physical harm or&nbsp;financial
                                            loss, to report suspected illegal activity, or to investigate&nbsp;violations of the Privacy Policy;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-4">
                                            to our Service providers (under contract with) who&nbsp;help with parts of our business operations (fraud prevention, marketing,&nbsp;technology Services etc). However, our contracts dictate that these Service&nbsp;providers
                                            may only use the User’s information in connection with the Services&nbsp;they perform for and not for their own benefit;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-5">
                                            to our suppliers in order for them to liaise&nbsp;directly with Users in the event of Users submitting a warranty claim regarding&nbsp;any Products or Services Users have purchased which requires their involvement.&nbsp;From
                                            time to time may also administer random “interactive pop-up” surveys to&nbsp;some Users on their sites. These surveys request additional demographic,&nbsp;non-personally identifiable information. The Users’
                                            participation in a survey&nbsp;is always voluntary, and Users therefore have a choice as to whether or not to&nbsp;provide the requested survey information. uses the information collected in the&nbsp;survey,
                                            in conjunction with information gathered through cookies and code, in&nbsp;order to provide Users with an even more detailed understanding of its target&nbsp;market.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-6">
                                            Some voluntarily provided personally identifiable&nbsp;information may be captured; for example, when an email address or telephone&nbsp;number is incorporated into a survey for the potential awarding of a prize&nbsp;draw,
                                            or when the respondent has opted-in to possible follow up research. This&nbsp;information may be shared with entities or other Users who in turn have agreed&nbsp;to adhere to this Privacy Policy.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-7">
                                            is entitled to use or disclose the User’s personal&nbsp;information if such use or disclosure is required in order to comply with any&nbsp;applicable law, subpoena, order of court or legal process served on, or
                                            to&nbsp;protect and defend our rights or property.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-users-consent-list-item-7-sub-list-item-8">
                                            will ensure that all of our employees, third party&nbsp;Service providers, divisions and partners (including their employees and&nbsp;third-party Service providers) having access to the User’s personal information&nbsp;are
                                            bound by appropriate and legally binding confidentiality obligations in&nbsp;relation to the User’s personal information.<br>
                                        </li>
                                    </ul>
                                    <p class="card-text popi-act-personal-information-heading-1" id="popi-act-personal-information-heading-1" style="color: rgb(150,104,104);">Personal Information<br></p>
                                    <p class="text-left text-secondary card-text popi-act-personal-information-main-text-1" id="popi-act-personal-information-main-text-1" style="color: rgb(150,104,104);">We will-<br></p>
                                    <ul id="User-conesent--list" class="User-conesent- list">
                                        <li class="text-left" id="popi-act-personal-information-list-item-1">treat the User’s personal information as strictly&nbsp;confidential, save where is entitled to share it as set out in this Policy;<br></li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-2">
                                            take appropriate technical and organisational&nbsp;measures to ensure that the User’s personal information is kept secure and is&nbsp;protected against unauthorised or unlawful processing, accidental loss,&nbsp;destruction
                                            or damage, alteration, disclosure or access;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-3">provide Users with access to the User’s personal&nbsp;information to view and/or update personal details;<br></li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-4">&nbsp;promptly notify Users if become aware of any&nbsp;unauthorised use, disclosure or processing of the User’s personal information;&nbsp;<br></li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-5">provide Users with reasonable evidence of our&nbsp;compliance with our obligations under this Policy on reasonable notice and&nbsp;request;<br></li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-6">upon the User’s request, promptly return or destroy&nbsp;any and all of the User’s personal information in our possession or control,&nbsp;save for that which are legally obliged to retain;<br></li>
                                        <li class="text-left"
                                            id="popi-act-personal-information-list-item-7">will not retain the User’s personal information&nbsp;longer than the period for which it was originally needed, unless is required&nbsp;by law to do so, or Users consent to retaining such information for a longer&nbsp;period;<br></li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-8">
                                            undertakes never to sell or make the User’s&nbsp;personal information available to any third party other than as provided for in&nbsp;this Policy, unless is compelled to do so by law. In particular, in the event&nbsp;of
                                            a fraudulent online payment, is entitled to disclose relevant personal<br>information for criminal investigation purposes or in line with any other legal&nbsp;obligation for disclosure of the personal information
                                            which may be required of&nbsp;it;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-9">
                                            Whilst we will do all things reasonably necessary&nbsp;to protect the User’s rights of Privacy, cannot guarantee or accept any&nbsp;liability whatsoever for unauthorised or unlawful disclosures of the User’s<br>personal
                                            information, whilst in our possession, made by third parties who are not&nbsp;subject to our control, unless such disclosure is as a result of our gross&nbsp;negligence;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-10">If Users disclose the User’s personal information&nbsp;to a third party, such as an entity which operates a Website and/or App linked<br>to this Website and/or App or anyone other than <strong>WILL NOT BE LIABLE FOR ANY&nbsp;LOSS OR DAMAGE, HOWSOEVER ARISING, SUFFERED BY YOU AS A RESULT OF THE&nbsp;DISCLOSURE OF SUCH INFORMATION TO THE THIRD PARTY.</strong>                                                This is because does not<br>regulate or control how that third party uses the User’s personal information.&nbsp;The User should always ensure that it reads the Privacy Policy of any third&nbsp;party;<br></li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-11">
                                            <strong>Retention Period:</strong> we will retain the User’s&nbsp;personal information for the period necessary to fulfill the purposes outlined&nbsp;in this Privacy Policy unless a longer retention period is
                                            required or allowed by law;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-12">
                                            <strong>Cross-Border Transfer for Users:</strong> The personal&nbsp;information from Users may be stored and processed in any country where has<br>facilities or where the Products from its Users originate,
                                            and by using the&nbsp;User’s consent to the transfer of information to countries outside of the&nbsp;User’s country of residence, which have different data protection rules than in&nbsp;the User’s country;&nbsp;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-13">
                                            <strong>Children and Privacy:</strong> the Website and/or App&nbsp;does not offer information intended to attract children. does not knowingly<br>solicit personal information from children under the age
                                            of 14;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-14">
                                            <strong>Your right to access information</strong>: The User&nbsp;and User have the right to request a copy of the personal information we hold&nbsp;about the User and/or User. To do so, simply email
                                            on our contact details below&nbsp;and send a request to review the personal information or contact us at the&nbsp;numbers/addresses listed below and specify what information is required will&nbsp;take
                                            all reasonable steps to confirm the User and/or User’s identity before&nbsp;providing details of its personal information. Please note that any such access&nbsp;request may be subject to a payment
                                            of a legally allowable fee;&nbsp;Correction of information. The User and/or User has the right to ask to update,<br>correct or delete its personal information. The User and/or User may do this by&nbsp;contacting
                                            at the numbers/addresses provided below. will take all reasonable&nbsp;steps to confirm the of the User and/or User’s identity before making changes&nbsp;to personal information we may hold about
                                            it;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-personal-information-list-item-15">
                                            <strong>POPI contacts</strong>: If the User and/or User&nbsp;have questions about this Policy, believe has not adhered to it, need further&nbsp;information about our privacy practices, wish to give or
                                            withdraw consent,&nbsp;exercise preferences, access or correct personal information, please contact at&nbsp;the following numbers/addresses:<br>
                                        </li>
                                    </ul>
                                    <p class="card-text popi-act-security-heading" id="popi-act-security-heading" style="color: rgb(150,104,104);">Security<br></p>
                                    <ul id="Security-list" class="Security-list">
                                        <li class="text-left" id="popi-act-security-list-item-1">
                                            Uses reasonable organisational, technical and&nbsp;administrative measures to protect personal information under its control.<br>Unfortunately, no data transmission over the Internet or data storage system&nbsp;can
                                            be guaranteed to be 100% secure.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-security-list-item-2">
                                            If Users have reason to believe that the User’s&nbsp;interaction with is no longer secure (for example, if Users feel that the&nbsp;security of any account Users might have with has been compromised), please<br>immediately
                                            notify of the problem by contacting us in accordance with the&nbsp;“Contact Us” section.<br>
                                        </li>
                                    </ul>
                                    <p class="card-text popi-act-cookies-heading-1" id="popi-act-cookies-heading-1" style="color: rgb(150,104,104);">Cookies<br></p>
                                    <ul id="Cookies-list-1" class="Security-list">
                                        <li class="text-left" id="popi-act-cookies-list-item-1">
                                            This Website and/or App makes use of “cookies” to&nbsp;automatically collect information and data through the standard operation of<br>the Internet servers. “Cookies” are small text files a Website and/or App can&nbsp;use
                                            (and which may use) to recognise repeat Users, facilitate the User’s&nbsp;on-going access to and use of a Website and/or App and allow a Website and/or&nbsp;App to track usage behaviour and compile aggregate
                                            data that will allow the&nbsp;Website and/or App operator to improve the functionality of the Website and/or<br>App and its content.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-cookies-list-item-2">
                                            The type of information collected by cookies is not&nbsp;used to personally identify Users. If Users do not want information collected&nbsp;through the use of cookies, there is a simple procedure in most browsers
                                            that&nbsp;allows Users to deny or accept the cookie feature.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-cookies-list-item-3">
                                            Please note that cookies may be necessary to&nbsp;provide Users with certain features available on our Website and/or App, and<br>thus if Users disable the cookies on the User’s browser Users may not be able to
                                            use those features, and the User’s access to our Website and/or App will&nbsp;therefore be limited. If Users do not disable “cookies”, Users are deemed to&nbsp;consent to our use of any personal information
                                            collected using those cookies.<br>
                                        </li>
                                    </ul>
                                    <p class="card-text popi-act-changes-to-the-privacy-policy-heading-2" id="popi-act-changes-to-the-privacy-policy-heading-2" style="color: rgb(150,104,104);">Changes To The Privacy Policy<br></p>
                                    <ul id="Changes-to-the-privacy-policy-list-2" class="Changes-to-the-privacy-policy-list-2">
                                        <li class="text-left" id="popi-act-changes-to-the-privacy-policy-item-list-1">
                                            May, in its sole discretion, change any of the&nbsp;terms and conditions of this Privacy Policy at any time. It is the User’s&nbsp;responsibility to regularly check the Privacy Policy and make sure that Users<br>are
                                            satisfied with the changes. Should a User not be satisfied, Users must not&nbsp;place any further orders on, or in any other way use, the Website and/or App.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-changes-to-the-privacy-policy-item-list-2">
                                            Any such change will only apply to the User’s use&nbsp;of this Website and/or App after the change is displayed on the Website and/or<br>App. If Users use the Website and/or App after such amended Privacy Policy,&nbsp;Users
                                            will be deemed to have accepted such changes.&nbsp;<br>
                                        </li>
                                    </ul>
                                    <p class="card-text three-icon-1-card-text-Electronic-Communications-heading" id="popi-act-electronic-communications-heading" style="color: rgb(150,104,104);">Electronic Communications<br></p>
                                    <p class="text-left text-secondary card-text popi-act-electronic-communications-main-text" id="popi-act-electronic-communications-main-text" style="color: rgb(150,104,104);">When Users visit the&nbsp;Website and/or App or send emails to, Users consent to receiving communications&nbsp;from us or any of our Users electronically in accordance with our Privacy&nbsp;Policy.<br></p>
                                    <p class="card-text popi-act-disclaimer-heading-3"
                                       id="popi-act-disclaimer-heading-3" style="color: rgb(150,104,104);">Disclaimer<br></p>
                                    <ul id="Disclaimer-communications-list-3" class="Disclaimer-communications-list-3">
                                        <li class="text-left" id="popi-act-disclaimer-item-list-1">
                                            The use of the Website and/or App is entirely at&nbsp;the User’s own risk and Users assume full responsibility for any risk or loss&nbsp;resulting from use of the Website and/or App or reliance on any information
                                            on&nbsp;the Website and/or App.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-disclaimer-item-list-2">
                                            Whilst takes reasonable measures to ensure that the&nbsp;content of the Website and/or App is accurate and complete, makes no<br>representations or warranties, whether express or implied, as to the quality,&nbsp;timeliness,
                                            operation, integrity, availability or functionality of the Website&nbsp;and/or App or as to the accuracy, completeness or reliability of any&nbsp;information on the Website and/or App. If any such representations
                                            or&nbsp;warranties are made by representatives, will not be bound thereby.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-disclaimer-item-list-3">
                                            Disclaims liability for any damage, loss or&nbsp;expenses, whether direct, indirect or consequential in nature, arising out of&nbsp;or in connection with the User’s access to or use of the Website and/or App<br>and/or
                                            any content therein unless otherwise provided by law.<br>
                                            <ul id="User-conesent--list-disclose-sublist-2" class="User-conesent- list-disclose-sublist" style="padding: 0px 0px 0px 100px;color: rgb(112,111,111);">
                                                <li class="text-left" id="popi-act-disclaimer-item-list-3-sub-list-item1"><em>Although Products&nbsp;sold from the Website and/or App by Users may, under certain specifically</em><br><em>      defined circumstances, be under warranty, the Website and/or App itself&nbsp;and all information provided on the Website and/or App is provided “as</em><br><em>      is” without warranty of any kind, either express or implied, including,&nbsp;but not limited to, the implied warranties of merchantability, fitness&nbsp;for a particular purpose, completeness, or non-infringement, as may be&nbsp;allowed in law.&nbsp;</em><br></li>
                                            </ul>
                                        </li>
                                        <li class="text-left" id="popi-act-disclaimer-item-list-4">Any views or statements made or expressed on the&nbsp;Website and/or App are not necessarily the views of, its directors, employees<br>and/or agents.<br></li>
                                        <li class="text-left" id="popi-act-disclaimer-item-list-5">
                                            In addition to the disclaimers contained elsewhere&nbsp;on the Website and/or App or in this Privacy Policy, also makes no warranty or<br>representation, whether express or implied, that the information or files&nbsp;available
                                            on the Website and/or App are free of viruses, spyware, malware,&nbsp;trojans, destructive materials or any other data or code which is able to&nbsp;corrupt, destroy, compromise, disrupt, disable, harm, jeopardise
                                            or otherwise&nbsp;impede in any manner the operation, stability, security functionality or&nbsp;content of the User’s computer system, computer network, hardware or software<br>in any way. The Users accept all
                                            risk associated with the existence of such&nbsp;viruses, destructive materials or any other data or code which is able to corrupt,&nbsp;compromise, jeopardise, disrupt, disable, harm or otherwise impede in any&nbsp;manner
                                            the operation or content of a computer system, computer network, any&nbsp;handset or mobile device, or the User’s hardware or software, save where such&nbsp;risks arise due to the gross negligence or wilful
                                            misconduct of, its employees,<br>agents or authorised representatives thus, disclaims all liability for any&nbsp;damage, loss or liability of any nature whatsoever arising out of or in&nbsp;connection with the
                                            User’s access to or use of the Website and/or App.&nbsp;<br>
                                        </li>
                                    </ul>
                                    <p class="card-text popi-availability-and-termination-heading-1" id="popi-availability-and-termination-heading-1" style="color: rgb(150,104,104);">Availability And Termination<br></p>
                                    <ul id="Availability-and-termination-list-1" class="Availability-and-termination-list-1">
                                        <li class="text-left" id="popi-availability-and-termination-list-item-1">
                                            Will use reasonable endeavours to maintain the&nbsp;availability of the Website and/or App, except during scheduled maintenance<br>periods, and are entitled to discontinue providing the Website and/or App or&nbsp;any
                                            part thereof with or without notice to Users.<br>
                                        </li>
                                        <li class="text-left" id="popi-availability-and-termination-list-item-2">
                                            May in its sole discretion suspend and modify this&nbsp;Website and/or App, with or without notice to Users. You agree that will not be&nbsp;liable to Users in the event that it chooses to suspend, modify or terminate
                                            this Website and/or App other than for processing any orders made by Users&nbsp;prior to such time, to the extent possible.<br>
                                        </li>
                                        <li class="text-left" id="popi-availability-and-termination-list-item-3">
                                            If Users fail to comply with the User’s obligations&nbsp;under this Privacy Policy, including any incident involving payment of the&nbsp;price of an order for any Products from other Users, this may (in our sole<br>discretion
                                            with or without notice to Users) lead to a suspension and/or&nbsp;termination of the User’s access to the Website and/or App without any&nbsp;prejudice to any claims for damages or otherwise that or the other
                                            User may&nbsp;have against Users.&nbsp;<br>
                                        </li>
                                        <li class="text-left" id="popi-availability-and-termination-list-item-4">
                                            Is entitled, for purposes of preventing suspected&nbsp;fraud and/or where it suspects that Users are abusing the Website and/or App&nbsp;and/or have created multiple User profiles to take advantage, to blacklist&nbsp;Users
                                            on its database (including suspending or terminating the User’s access to&nbsp;the Website and/or App), refuse to accept or process payment on any order,&nbsp;and/or to cancel any order concluded between Users
                                            and, in whole or in part, on&nbsp;notice to Users and accepts no liability which may arise as a result of such<br>blacklisting and/or refusal to process any order for the Services or through a&nbsp;User.<br>
                                        </li>
                                    </ul>
                                    <p class="card-text popi-act-governing-law-and-jurisdiction-heading" id="popi-act-governing-law-and-jurisdiction-heading" style="color: rgb(150,104,104);">Governing Law And Jurisdiction<br></p>
                                    <ul id="Governing-law-and-jurisdiction-list" class="Governing-law-and-jurisdiction-list">
                                        <li class="text-left" id="popi-act-governing-law-and-jurisdiction-list-item-1">This Privacy Policy and our relationship and/or any&nbsp;dispute arising from or in connection with the Privacy Policy will be governed<br>and interpreted in accordance with the laws of the Republic of South Africa.<br></li>
                                        <li class="text-left" id="popi-act-governing-law-and-jurisdiction-list-item-2">
                                            Your continued use of the Website and/or App will&nbsp;constitute the User’s consent and submission to the jurisdiction of the South<br>African courts regarding all proceedings, transactions, applications or the&nbsp;like
                                            instituted by either party against the other, arising from any of the&nbsp;Privacy Policy.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-governing-law-and-jurisdiction-list-item-3">
                                            In the event of any dispute arising between Users&nbsp;and, Users hereby consent to the non-exclusive jurisdiction of the High Court&nbsp;of the Republic of South Africa (Gauteng Division, Johannesburg)<br>notwithstanding
                                            that the quantum in the action or proceedings may otherwise&nbsp;fall below the monetary jurisdiction of that court.<br>
                                        </li>
                                        <li class="text-left" id="popi-act-governing-law-and-jurisdiction-list-item-4">Nothing in this clause or the Privacy Policy limits&nbsp;the User’s right to approach any court, tribunal or forum of competent&nbsp;jurisdiction in terms of the POPI or CPA.&nbsp;<br></li>
                                    </ul>
                                    <p class="card-text popi-act-notices-heading-1" id="popi-act-notices-heading-1" style="color: rgb(150,104,104);">Notices<br></p>
                                    <ul id="Notices-list-1" class="Notices-list">
                                        <li class="text-left" id="popi-act-notices-item-list-1">
                                            Hereby selects the address as it reflects on its&nbsp;Website and/or App from time to time, as its address for the Service of all&nbsp;formal notices and legal processes in connection with the Privacy Policy&nbsp;<br>(“legal
                                            address”) may change this address from time to time by updating the&nbsp;Privacy Policy.&nbsp;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-notices-item-list-2">You hereby select the physical address specified&nbsp;with the User’s invoice as the User’s legal address, but Users may change it to<br>any other physical address by giving not less than 7 days’ notice in writing.&nbsp;<br></li>
                                        <li class="text-left" id="popi-act-notices-item-list-3">
                                            Notices must be sent either by hand, prepaid<br>registered post or email. All notices sent –<br>
                                            <ul id="User-conesent--list-disclose-sublist-3" class="User-conesent- list-disclose-sublist" style="padding: 0px 0px 0px 100px;color: rgb(112,111,111);">
                                                <li class="text-left" id="popi-act-notices-item-list-3-sub-list-1">by hand will be deemed to have been received on the<br>date of delivery;<br></li>
                                            </ul>
                                            <ul id="User-conesent--list-disclose-sublist-4" class="User-conesent- list-disclose-sublist" style="padding: 0px 0px 0px 100px;color: rgb(112,111,111);">
                                                <li class="text-left" id="popi-act-notices-item-list-3-sub-list-2">by prepaid registered post, will be deemed to have<br>been received 10 days after the date of posting;<br></li>
                                            </ul>
                                            <ul id="User-conesent--list-disclose-sublist-5" class="User-conesent- list-disclose-sublist" style="padding: 0px 0px 0px 100px;color: rgb(112,111,111);">
                                                <li class="text-left" id="popi-act-notices-item-list-3-sub-list-3">
                                                    by email before 16h30 on a business day will be<br>deemed to have been received, on the date of successful transmission of the&nbsp;email. Emails sent after 16h30 or on a day which is not a business day
                                                    will be&nbsp;deemed to have been received on the following business day.&nbsp;<br>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="card-text general-heading" id="popi-act-general-heading" style="color: rgb(150,104,104);">General<br></p>
                                    <ul id="General-list" class="General-list">
                                        <li class="text-left" id="popi-act-general-list-item-1">Any failure on the part of Users or to enforce any&nbsp;right in terms hereof will not constitute a waiver of that right.<br></li>
                                        <li class="text-left" id="popi-act-general-list-item-2">If any term or condition contained herein is&nbsp;declared invalid, the remaining terms and conditions will remain in full force&nbsp;and effect.&nbsp;<br></li>
                                        <li class="text-left" id="popi-act-general-list-item-3">
                                            No indulgence, extension of time, relaxation or&nbsp;latitude which any party (the “grantor”) may show grant or allow to the other<br>(the “grantee”) will constitute a waiver by the grantor of any of the grantor’s&nbsp;rights
                                            and the grantor will not thereby be prejudiced or stopped from&nbsp;exercising any of its rights against the grantee which may have arisen in the&nbsp;past or which might arise in the future.&nbsp;<br>
                                        </li>
                                        <li class="text-left" id="popi-act-general-list-item-4">No other warranty or undertaking is valid, unless&nbsp;contained in this document between the parties.<br></li>
                                    </ul>
                                    <div class="col text-center"><a class="btn btn-primary text-center" role="button" id="legal-disclaimer-read-through-button" style="padding: 6px 50px; color:white;" onclick="BackToPreviousPage()"><<</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/smart-forms.min.js"></script>
    <script src="~/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/js/theme.js"></script>
</body>

</html>

<script>
    function BackToPreviousPage() {
        window.history.back();
    }
</script>