@using CorneTest.Models

@{
    ViewBag.Title = "Staff/Tenant Rental";

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Hire me - Brand</title>

    <style>

        .nospin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        .no-spin {
            -moz-appearance: textfield !important;
        }

        /*        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }*/

        .italic-label {
            font-style: italic;
        }

        .Labels {
            font-style: italic;
        }

        input[type='radio'] {
            transform: scale(1.5);
        }

        input[type='checkbox'] {
            transform: scale(1.5);
        }
    </style>
</head>

<body>

    <main class="page hire-me-page" data-target="#modal1" data-toggle="modal">
        <section class="portfolio-block hire-me">
            <div class="container" id="container-form-page">
                <form class="page hire-me-page smart-form-form-page" id="smart-form-form-page" method="post" enctype="multipart/form-data" asp-controller="AdministrativeDetails" asp-action="Sale">
                    <input type="hidden" value="@TempData["listingId"]" class="hiddenPost" id="listing-id-hidden" name="listing-id-hidden" />
                    <div>
                        <div class="form-row row-cols-1"><div class="col building-information-heading-column" id="building-information-heading-column"><label class="col-form-label building-information-heading-text-area" id="building-information-heading-text-area" for="building-information-heading-text-area"><strong>STAFF/TENANT INFORMATION</strong><br></label></div></div>
                    </div>
                    <div class="form-group building-information-domestic-column" id="building-information-domestic-column"><label id="building-information-domestic-label" class="building-information-domestic-label" for="building-information-domestic-label">Staff Name</label><input class="form-control building-information-domestic-input" id="building-information-domestic-name-input" required="" minlength="1" name="building-information-domestic-name-input" value="Piet Pompies" /></div>
                    <div class="form-group building-information-domestic-cell-column" id="building-information-domestic-cell-column"> <label id="building-information-domestic-cell-label" class="building-information-domestic-cell-label" for="building-information-domestic-cell-label">Staff Mobile</label><input class="form-control building-information-domestic-cell-input" type="tel" id="building-information-domestic-cell-input" name="building-information-domestic-cell-input" value="0829999999"></div>
                    <div class="form-group building-information-tenant-column" id="building-information-tenant-column-1"><label id="building-information-tenant-label-1" class="building-information-tenant-label" for="building-information-tenant-label">Current Tenant Name</label><input class="form-control building-information-tenant-input" id="building-information-tenant-input" required="" minlength="1" name="building-information-tenant-input" value="James Bond" /></div>
                    <div class="form-group building-information-tenant-cell-column" id="building-information-tenant-cell-column-1"><label id="building-information-tenant-cell-label-1" class="building-information-tenant-cell-label" for="building-information-tenant-cell-label">Current Tenant Mobile</label><input class="form-control building-information-tenant-cell-input" type="tel" id="building-information-tenant-cell-input" name="building-information-tenant-cell-input" value="0839998888"></div>
                    <div class="form-group building-information-date-rental-expires-column" id="building-information-date-rental-expires-column"><label id="building-information-date-rental-expires-label" class="building-information-date-rental-expires-label" for="building-information-date-rental-expires-label">Date Rental Expires</label><input class="form-control building-information-date-rental-expires-input" id="building-information-date-rental-expires-input" type="date" name="building-information-date-rental-expires-input" value="2020-12-31"></div>
                    <div class="form-group building-information-date-available-column" id="building-information-date-available-column"><label id="building-information-date-available-label" class="building-information-date-available-label" for="building-information-date-rental-expires-label">Date Available</label><input class="form-control building-information-date-available-input" id="building-information-date-available-input" type="date" name="building-information-date-available-input" value="2020-12-31"></div>


                    <div class="col text-center"><a class="btn btn-primary text-center" role="button" id="next-features-button" style="padding: 6px 50px; color:white;">>></a></div>


                </form>
            </div>
        </section>
    </main>
</body>
</html>
<script src="~/js/jquery.min.js"></script>
<script>
    $('input[type=radio][name=typeProperty]').change(function () {
        var radios = document.getElementsByName('typeProperty');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                $('#property-type-hidden').val(radios[i].value);
            }
        }
    });
    $('input[type=radio][name=listingSource]').change(function () {
        var radios = document.getElementsByName('listingSource');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                $('#listing-source-hidden').val(radios[i].value);
            }
        }
    });
    $('input[type=radio][name=typeFacing]').change(function () {
        var radios = document.getElementsByName('typeFacing');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                $('#property-facing-hidden').val(radios[i].value);
            }
        }
    });

    $("#next-features-button").click(function () {
        InsertStaffTenantInformation();

        window.location.href = "/AdministrativeDetails/Features";
    });

    function InsertStaffTenantInformation() {
        var staffTenant = {};

        staffTenant.ListingId = @TempData["listingId"];
        staffTenant.StaffName = $("#building-information-domestic-name-input").val();
        staffTenant.StaffMobile = $("#building-information-domestic-cell-input").val();
        staffTenant.TenantName = $("#building-information-tenant-input").val();
        staffTenant.TenantMobile = $("#building-information-tenant-cell-input").val();
        staffTenant.GrossRentalIncome = 0;
        staffTenant.DateRentalExpires = $("#building-information-date-rental-expires-input").val();
        staffTenant.DateAvailable = $("#building-information-date-available-input").val();

        $.ajax(
        {
            async: false,
            type: "POST",
            url: '@Url.Action("InsertStaffTenantInformation", "AdministrativeDetails")',
                data: { staffTenant: staffTenant },
            success: function (result) {
            },
            error: function (xhr, status, error) {
            }
        });
    }






</script>
