<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DBServer" value=".\SQLEXPRESS"/>
		<add key="DBName" value="ForAgents"/>
		<add key="DBUserName" value="corne"/>
		<add key="DBPassword" value="Pokemon123#"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnStr" connectionString=""/>
	</connectionStrings>
</configuration>